<div class="row">

  <div class="col-md-4">

    <h2>Generate a Movement Tray</h2>

    <form role="form" method="post">

      <div class="form-group" id=>
        <label for="base">Choose the base size:</label>
        <select name="base" id="base" class="form-control" required="true">
          <option value="" selected disabled>Make a Selection</option>
          <option value="standard">Standard (20x20mm)</option>
          <option value="large">Large (25x25mm)</option>
          <option value="monster">Monster (40x40mm)</option>
          <option value="cavalry">Cavalry (25x50mm)</option>
        </select>
      </div>

      <div class="form-group" id="dimensions">
        <label for="rows">Number of ranks in the unit:</label>
        <select name="rows" id="rows" class="form-control">
          <option value="" selected disabled>Number of Ranks</option>
        </select>
        <label for="cols">Number of models per rank:</label>
        <select name="cols" id="cols" class="form-control">
          <option value="" selected disabled>Models per Rank</option>
        </select>
      </div>

      <input type="submit" value="Genetate Tray" class="btn btn-primary" />
      <a href="/" class="btn btn-default">Start Over</a>
    </form>

  </div>

  <div class="col-md-8">

    <div id="standard-base" class="info text-center">
      <h2>Standard Base <small>( 20x20mm )</small></h2>

      <p>This is the most common base size in the game, used by all human sized models.</p>
      <img src="/img/standard.jpg" alt="Model with a 20x20mm base"/>

      <table class="table"><caption>Kings of War&trade; basing guide</caption>
        <tr>
            <th>Troop</th><td>2 ranks, 5 models wide</td>
            <th>Regiment</th><td>4 ranks, 5 models wide</td>
        </tr><tr>
            <th>Horde</th><td>4 ranks, 10 models wide</td>
            <th>Legion</th><td>6 ranks, 10 models wide</td>
        </tr>
      </table>

    </div>

    <div id="large-base" class="info text-center">
      <h2>Large Base <small>( 25x25mm )</h2>

      <p>This base size is used by larger than human creatures like Orcs and Beastmen.</p>

      <img src="/img/large.jpg" alt="Model with a 25x25mm base"/>

      <table class="table"><caption>Kings of War&trade; basing guide</caption>
        <tr>
            <th>Troop</th><td>2 ranks, 5 models wide</td>
            <th>Regiment</th><td>4 ranks, 5 models wide</td>
        </tr><tr>
            <th>Horde</th><td>4 ranks, 10 models wide</td>
            <th>Legion</th><td>6 ranks, 10 models wide</td>
        </tr>
      </table>
    </div>

    <div id="monster-base" class="info text-center">
      <h2>Monster Base ( 25x25mm )</h2>

      <p>This base size is used by large monsters and monstrous infantry like Ogres.</p>

      <img src="/img/monster.jpg" alt="Model with a 40x40mm base"/>
      
      <table class="table"><caption>Kings of War&trade; basing guide</caption>
        <tr>
            <th>Troop</th><td class="disabled">n/a</td>
            <th>Regiment</th><td>1 rank, 3 models wide</td>
        </tr><tr>
            <th>Horde</th><td>2 ranks, 3 models wide</td>
            <th>Legion</th><td>2 ranks, 6 models wide</td>
        </tr>
      </table>
    </div>

    <div id="cavalry-base" class="info text-center">
      <h2>Cavalry Base ( 25x50mm )</h2>

      <p>These rectangular bases are used by all mounted cavalry models.</p>

      <img src="/img/cavalry.jpg" alt="Model with a 25x50mm base"/>

      <table class="table"><caption>Kings of War&trade; basing guide</caption>
        <tr>
            <th>Troop</th><td>1 rank, 5 models wide</td>
            <th>Regiment</th><td>2 ranks, 5 models wide</td>
        </tr><tr>
            <th>Horde</th><td>2 ranks, 10 models wide</td>
            <th>Legion</th><td class="disabled">n/a</td>
        </tr>
      </table>
    </div>

  </div>

</div>


