<div class="row">

  <div class="col-md-4">
    <h2>Movement Tray not Found</h2>

    <p>Sorry, the movement tray you were looking for seems to be missing.
    Please try generating a new one:</p>

    <br/><br/>
    <p>
    <a href="/" class="btn btn-default">
      <i class="glyphicon glyphicon-refresh"></i> New Movement Tray</a>
    </p>
  </div>

</div>
